$Softblue: hsl(215, 51%, 70%);//Primary
$Cyan: rgb(0, 255, 247);//primary
$Verydarkbluemainbg : hsl(217, 54%, 11%);//main bg
$Verydarkbluecardbg : hsl(216, 50%, 16%);//card bg
$Verydarkblueline : hsl(215, 32%, 27%);// line
$White: hsl(0, 0%, 100%);